body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 20px;
  }
  #titulo_principal{
    font-size: 100px;
    color: aqua;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    text-decoration-style:dashed;
  }
  .texto{
    font-size: 50px;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: dotted;
    text-decoration-style:dashed;
  }
  
  h1 {
    color: #0066cc;
    text-align: center;
  }
  
  h3 {
    color: #009900;
    text-align: center;
  }
  
  p {
    color: #333;
    text-align: center;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 2px solid #009900;
  }
  